RewriteEngine on

# Redirect /example.html to /example
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# Add .html extension if the file exists
RewriteCond %{REQUEST_FILENAME}.html -f 
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Custom error pages with full server paths
ErrorDocument 404 https://charotarwindowgallery.com/404.html
ErrorDocument 500 https://charotarwindowgallery.com/500.html
ErrorDocument 405 https://charotarwindowgallery.com/405.html

# Redirect HTTP www to HTTPS non-www
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^www\.charotarwindowgallery\.com$ [NC]
RewriteRule ^ https://charotarwindowgallery.com%{REQUEST_URI} [L,R=301]

# Redirect HTTPS www to HTTPS non-www
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.charotarwindowgallery\.com$ [NC]
RewriteRule ^ https://charotarwindowgallery.com%{REQUEST_URI} [L,R=301]